/* LORA FONT */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

@import url(./var/global.css);
/* TODO: 
    -change color scheme of site  
    -fancy buttons
*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Lora', serif;
}

/*TODO: BS4 method, could remove & swap with data-bs-offset */
 .offset::before{
    display: block;
    content: "";
    height: 2rem;
}

.navbar-nav,
.mr-auto {
flex: 0.5;
margin: auto !important;
display: flex;
justify-content: space-between;
}

.navbar{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: var(--secondary) !important;
    padding: 2px 0;
}

.navbar .nav-item .nav-link{
    color: var(--primary);
    padding-left: 70px;
}

.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover{
    color: rgb(0, 0, 0);
}

/* TODO: 
    -super responsive - all screen sizes 
    -might need to change top value below, originally 40%
    */
.heading-content{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background: rgb(47,79,79);
background: linear-gradient(0deg, rgba(47,79,79,1) 19%, rgba(217,223,221,1) 100%);
}

.heading-content h5{
    font-size: 4em;
    font-weight:300;
    color: #fff;
    font-family: var(--roboto);
}

.heading-content h1{
    font-size: 5em;
    font-weight:bolder;
    color: #fff;
    font-family: var(--roboto);
    letter-spacing: 2px;
}

/* ----------------ABOUT START------------- */

 .btn{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    background:var(--secondary);
    border-radius: 5px;
    margin-top: 10px;
}

 .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

 .btn:hover{
    background: var(--primary);
    cursor: pointer;
}

#about img{
    height: 500px;
    display: flex;
    justify-content: center;
}

/* ----------------PROJECT START------------- */

.card-img-top{
    width:100%;
    height:100%;
}


/* #projects .btn{
    border: 2px solid transparent;
    width: 100%;
    padding: 15px 22px;
    background:var(--primary);
    border-radius: 5px;
    margin-top: 10px;
}

#projects .btn a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#projects .btn:hover{
    border: 2px solid var(--secondary);
    cursor: pointer;
} */



/* ----------------PROJECT END------------- */

/* ----------------NEWSLETTER START------------- */
#newsletter{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: var(--primary);
}

#newsletter h2{
    font-family: var(--roboto);
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 50px;
}

#newsletter p{
    font-family: var(--roboto);
    font-weight: 400;
}

#newsletter input{
    font-size: 15px;
}
/* #newsletter .btn{
    border: 2px solid transparent;
    background:var(--secondary);
    border-radius: 5px;
    height:55px;
}

#newsletter .btn a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#newsletter .btn:hover{
    border: 2px solid white;
    cursor: pointer;
    color: var(--primary);
} */

/* ----------------NEWSLETTER END------------- */
/* ----------------Contact start------------- */

/* ----------------Contact END------------- */



/* ----------------FOOTER START------------- */
#footer{
padding: 0 !important;
margin: 0 !important;
}

#footer .btn{
    width: auto;
    border: 2px solid transparent;
    background:var(--secondary);
    border-radius: 5px;
    height:55px;
}

#footer .btn a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#footer .btn:hover{
    border: 2px solid white;
    cursor: pointer;
    color: var(--primary);
}
/* ----------------FOOTER END------------- */



/* --------------- Media Query---------------- */
@media screen and (max-width: 767px) {
    /* tablets */
    .navbar{
        letter-spacing: 0.1rem;
        padding: 10px 0;
    }

    .heading-content h5{
        font-size: 3em;
    }
    
    .heading-content h1{
        font-size: 3em;
    }
    
    .heading-content p{
        font-size: 0.9em;
    }

     img{
        height: 575px;
    }
     h2,h3{
        font-size: 1.5em;
    }
     p{
        font-size: 0.75em;
    }
}

@media screen and (max-width: 479px){
    /* smartphones */
    .navbar{
        letter-spacing: 0.1rem;
        padding: 7px 0;
    }

    .heading-content h5{
        font-size: 2em;
    }
    
    .heading-content h1{
        font-size: 2em;
    }
    
    .heading-content p{
        font-size: 0.7em;
    }

    #contact .post-heading h3{
        font-size: 2em;
    }

    #newsletter input{
        font-size: 0.7em;
    }
}